    * {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: hsl(240, 45%, 31%);
}
.sidebar {
  padding: 20px;
  border-right: 5px solid #4242a6;
  width: 250px;
  height: 100vh;
    transition: 0.3s;
     background-color: #1e293b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.nav {
    font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.nav-item {
  padding: 12px;
  color:white;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
}

.nav-item:hover {
  background-color: #2d3a55;
}

.nav-item.active {
  background-color: #3b4a6b;
  color: #60a5fa;
}

.bottom-btn {
  background-color: #3b82f6;
  color: white;
  text-align: center;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.bottom-btn:hover {
  background-color: #2563eb;
}
.main-content{
  flex:1;
  padding:20px;
}
.container{
  display:flex;
}
.hide {
  width: 0;
  padding: 0;
  overflow: hidden;
}
.heading {
  margin-left: 20px;font-weight: bold;font-size: 25px;color: hwb(132 15% 5%);
}