    * {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: hsl(240, 45%, 31%);
}
.sidebar {
  padding: 20px;
  border-right: 5px solid #4242a6;
  width: 30%;
  height: 100vh;
}.main-content{
  flex:1;
  padding:20px;
}
.container{
  display:flex;
}